<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <h1>Dojo Survey</h1>
      <h3>Fill it out now</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/feedback' method='post'>
          Name: <input type='text' name='name'><br>
          Dojo Location: <input type='text' name='location'><br>
          Favorite Language: <input type="text" name='language'><br>
          Comment optional: <br>
          <textarea name="comments" rows="8" cols="80"></textarea><br>
          <input type='submit' value='Submit'>
          
      </form>
    </body>
</html>
