<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
</head>
<body>
  <h1>Dojo Survey</h1>
  <!-- Using Bootstrap CSS -->
    <form action="/result" method="post">
      <label for="name" class="col-xs-5">Your Name:</label>
      <input type="text" name="name"><br>
      <label for="location" class="col-xs-5">Dojo Location:</label>
      <input type="text" name="location"><br>
      <label for="language" class="col-xs-5">Favorite Language:</label>
      <input type="text" name="language"><br>
      <label for="comment" class="col-xs-5">Comments:</label>
      <textarea type="text" name="comment"></textarea><br>
      <input type="submit" value="Submit"><br>

    </form>

</body>
</html>
