<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
</head>
<body>
  <h1>Dojo Survey</h1>
  <!-- Using Bootstrap CSS -->
  <form action='/process' method='POST'>
    Name:<input type="text" name="name"><br>
    Dojo Location: <input type="text" name="location"><br>
    Favorite Language: <input type="text" name="language"><br>
    Comments
    <textarea type="submit" name="comments"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
