<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login and Register</title>
</head>
<body>
  <fieldset>
    <legend>Login</legend>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       {% for message in messages %}
          <h2>{{message}}</h2>
       {% endfor %}
      {% endif %}
    {% endwith %}
    <form action='/login' method='POST'>
      <label for="email">Email: </label><input type="text" name="email" id="email"><br>
      <label for="password">Password: </label><input type="password" name="password" id="password"><br>
      <input type="submit" value="Login" style="height:20px;">
    </form>
  </fieldset>
  <br>
  <br>
  <br>
  <fieldset>
    <legend>Register</legend>
    <form action='/register' method='POST'>
      <label for="first_name">First Name: </label><input type="text" name="first_name" id="first_name"><br>
      <label for="last_name">Last Name: </label><input type="text" name="last_name" id="last_name"><br>
      <label for="email">Email: </label><input type="text" name="email" id="email"><br>
      <label for="password">Password: </label><input type="password" name="password" id="password"><br>
      <label for="passwordc">Password Confirmation: </label><input type="password" name="passwordc" id="passwordc"><br>
      <input type="submit" value="Register" style="height:20px;">
    </form>
  </fieldset>

</body>
</html>
