<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New User</title>
</head>
<body>
  <h1>Create a New User</h1>
  <form action="/semirestful_users/create" method="post">
    {% csrf_token %}
    <label for="first_name">First Name:</label><br>
    <input type="text" name="first_name"><br>
    <label for="last_name">Last Name:</label><br>
    <input type="text" name="last_name"><br>
    <label for="email">Email:</label><br>
    <input type="text" name=email><br><br>
    <input type="submit" value="Create user"><br><br>
  </form>
  <a href="/semirestful_users">Go Back</a>
</body>
</html>
