<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Counter</title>
</head>
<style>
  body {
    text-align: center;
  }

  form {
    display: inline-block;
  }
</style>
<body>
  <h1>Count: </h1>
  <h2>{{ session['counter'] }} times</h2>

  <form action="/add2" method="post">
    <button>Add 2</button>
  </form>

  <form action="/reset" method="post">
    <button>Reset</button>
  </form>
</body>
</html>
